/* App.css */

.app-initializing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: var(--text-muted);
  background-color: var(--bg-page);
}

.app-initializing-container h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}